<style type="text/css">
.out-img{
width: 50%;
height: 50%;
margin: auto;
}
</style>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @image.avatar? %>
    <div class="image-group">
      <%= image_tag(@image.avatar,class:"out-img") %>
    </div>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= link_to("Back",admin_wechat_index_path,class:"btn btn-default") %>
    <%= link_to("Delete",admin_wechat_path(@image),method: :delete,class:"btn btn-danger") %>
  </div>
</div>