<div class="col-md-12">
  <h2 class="text-center"> Image </h2>
  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> id </th>
        <th> image </th>
        <th> created_at </th>
      </tr>
    </thead>

    <tbody>
      <% @images.each do |img| %>
        <tr>
          <td> # </td>
        <td> <%= img.id %> </td>
        <td> <%= link_to("img: #{img.id}",admin_image_path(img))  %> </td>
        <td> <%= img.created_at.strftime('%Y-%m-%d %H:%M:%S') %>    </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>